In [1]:
import json

In [2]:
import pandas as pd
d_2016 = pd.read_csv('data/2016.csv')
d_2017 = pd.read_csv('data/2017.csv')
d_2018 = pd.read_csv('data/2018.csv')
d_2019 = pd.read_csv('data/2019.csv')

In [3]:
dat = pd.concat([d_2016, d_2017, d_2018, d_2019])

In [4]:
dat.head()

,PARID,MUNICIPALITY,PROP_LOCATION,BUYER,SELLER,SALE_DATE,RECORDED_DATE,PRICE,BOOK,PAGE,SALE_VALUE,VALUE_DESC,SALE_TYPE,TYPE_DESC,NOTE4,SALEKEY,CNTR,Unnamed: 17
0,0004N00036000000,19th Ward - PITTSBURGH,200 DILWORTH ST PITTSBURGH PA 15211,MORGAN RYAN,BOLEK RONALD J &amp; KATHLEEN A (W),1/11/2016,1/13/2016,132500,16256,122,36,QUIT CLAIM / SPECIAL WARRANTY,&nbsp;,&nbsp;,&nbsp;,1283629,1,NaN
1,0004N00071000000,19th Ward - PITTSBURGH,221 DILWORTH ST PITTSBURGH PA 15211,WELLS FARGO BANK N A,FRIEDRICH WILLIAM,9/22/2016,9/22/2016,5478,16545,593,99,CORRECTIVE DEED / DUPLICATE SALE,&nbsp;,&nbsp;,&nbsp;,1304038,1,NaN
2,0004N00071000000,19th Ward - PITTSBURGH,221 DILWORTH ST PITTSBURGH PA 15211,KEY POINT REAL ESTATE LLC,WELLS FARGO BANK N A,12/01/2016,12/21/2016,79719,16646,436,36,QUIT CLAIM / SPECIAL WARRANTY,&nbsp;,&nbsp;,&nbsp;,1319971,2,NaN
3,0004N00108000000,19th Ward - PITTSBURGH,14 KUHN ST PITTSBURGH PA 15211,FANNIE MAE,OSSELBORN DONALD H &amp; MARY E (W),6/20/2016,6/23/2016,1859,16434,517,1,SHERIFF SALE,&nbsp;,&nbsp;,&nbsp;,1299951,1,NaN
4,0004N00108000000,19th Ward - PITTSBURGH,14 KUHN ST PITTSBURGH PA 15211,PITTSBURGH HOUSING DEVELOPMENTCORPORATION,FANNIE MAE,8/10/2016,8/16/2016,65000,16502,44,GV,GOVERNMENT SALE,&nbsp;,&nbsp;,&nbsp;,1306141,2,NaN

In [5]:
dat.shape

(142555, 18)

In [6]:
dat['SALE_TYPE'].value_counts()

&nbsp;    141777
3            528
2            226
1             24
Name: SALE_TYPE, dtype: int64

In [7]:
len(dat['PARID'].unique())

119159

In [8]:
pd.Series(dat['VALUE_DESC'] == "VALID SALE").value_counts()

False    126706
True      15849
Name: VALUE_DESC, dtype: int64

In [9]:
cleaned_dat = dat.loc[(dat['VALUE_DESC'] == "VALID SALE"), :]

In [10]:
addresses = cleaned_dat["PROP_LOCATION"].unique()

In [17]:
pd.DataFrame(addresses).to_csv('data/sales_addresses.csv', index=False, header=False)